@model EditTraineeViewModel
@{
    ViewData["Title"] = "Edit Trainee Information";
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewData["Title"]</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <form id="edit-trainee" method="post" asp-controller="Home" enctype="multipart/form-data" asp-action="UpdateTraineeInfo" data-parsley-validate class="form-horizontal form-label-left">
            <input type="hidden" class="form-control" asp-for="TraineeId" id="traineeId" readonly>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Name">
                    Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="first-name" required="required" asp-for="Name" value="@Model.Name" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Surname">
                    Surname <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="surname" asp-for="Surname" required="required" value="@Model.Surname" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Email">
                    Email <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="email" asp-for="Email" required="required" value="@Model.Email" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="DateOfBirth">
                    Date Of Birth <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class='input-group date' id='myDatepicker2'>
                        <input id="birthday" type="text" asp-for="DateOfBirth" class="form-control" value="@Model.DateOfBirth" data-inputmask="'mask': '99.99.9999'" placeholder="DD.MM.YYYY" required="required" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Image">
                    Image
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @{ 

                        string base64 = null;
                        if (Model.CurrentImage != null)
                        {
                            base64 = Convert.ToBase64String(Model.CurrentImage);
                        }
                        var profImage = String.Format("data:image/jpg;base64,{0}", base64);
                    }
                    <img id="preview" style="height:100px;" src="@profImage" alt="ProfileImage" />
                    <input type="file" accept="image/*" id="image" asp-for="Image" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Phone">
                    Phone
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="tel" id="phone" asp-for="Phone" class="form-control col-md-7 col-xs-12" value="@Model.Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="City">
                    City
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="city" asp-for="City" value="@Model.City" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Gender">Gender</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="radio" name="gender" value="male" asp-for="Gender" checked="checked"> &nbsp; Male &nbsp;
                        </label>
                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="radio" name="gender" value="female" asp-for="Gender"> Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button type="submit" class="btn btn-success pull-right">Edit Trainee Info</button>
                </div>
            </div>
        </form>
    </div>
</div>