@model TraineeDetailsPageViewModel
@{
    ViewData["Title"] = "Trainee Details";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" width="150" height="150" src="@Model.Image" alt="Avatar" title="Change the avatar">
                            </div>
                        </div>
                        <h3>@Model.Name @Model.Surname</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i> @Model.Email
                            </li>
                            @*<li>
                                    <i class="fa fa-phone user-profile-icon"></i> Phone
                                </li>*@
                            <li>
                                <i class="fa fa-birthday-cake user-profile-icon"></i> @Model.DateOfBirth
                            </li>
                            <li>
                                <i class="fa fa-child user-profile-icon"></i> @Model.Weight
                            </li>
                            <li>
                                <i class="fa fa-child user-profile-icon"></i> @Model.Height
                            </li>
                            @*<li>
                                    <i class="fa fa-child user-profile-icon"></i> Fat Ratio
                                </li>*@
                            @*<li>
                                    <i class="fa fa-map-marker user-profile-icon"></i> City
                                </li>*@
                        </ul>
                        <a class="btn btn-success" onclick="location.href='@(Url.Action("EditTrainee", "Home", new { Id = Model.Id }))'"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                        <br />
                        @*<!-- start skills -->
                            <h4>Skills</h4>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <p>Web Applications</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Website Design</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Automation & Testing</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>UI / UX</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                    </div>
                                </li>
                            </ul>
                            <!-- end of skills -->*@
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>User Activity Report</h2>
                            </div>
                            <div class="col-md-6">
                                <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>
                        <!-- start of user-activity-graph -->
                        <div id="graph_bar" style="width:100%; height:280px;"></div>
                        <!-- end of user-activity-graph -->
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Exercises Done</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Set Exercises</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content3" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Goals</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="profile-tab">
                                    <!-- start user exercises -->
                                    <table class="data table table-striped no-margin">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Exercise Name</th>
                                                <th>Exercise Category</th>
                                                <th class="hidden-phone">Sets</th>
                                                <th>Progress</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 1;}
                                            @foreach (var ex in Model.DailyProgresses)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    @i++;
                                                    <td>@ex.Exercise.Name</td>
                                                    <td>@ex.Exercise.Category</td>
                                                    <td>@ex.AssignedSets</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="@ex.CompletedSets*100/@ex.AssignedSets"></div>
                                                            <!--Populate progress bar just calculated percentage in data-transitiongoal value(instead of 35 put our value)-->
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- end user exercises -->
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Name">
                                                Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text type="text" id="first-name" class="form-control col-md-7 col-xs-12">@Model.Name</text>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Surname">
                                                Surname <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text type="text" id="surname" name="surname" required="required" class="form-control col-md-7 col-xs-12">@Model.Name
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Email">
                                                Email <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text type="text" id="email" name="email" class="form-control col-md-7 col-xs-12">@Model.Email
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="DateOfBirth">
                                                Date Of Birth <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="birthday" type='text' class="form-control">@Model.DateOfBirth</text>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Image">
                                                Image
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <img id="preview" style="height:100px;" src="@Model.Image" alt="ProfileImage" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Phone">
                                                Phone
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text type="tel" id="phone" name="phone" class="form-control col-md-7 col-xs-12">@Model.Phone
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Weight">
                                                Weight
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="weight" name="weight" class="form-control col-md-7 col-xs-12">@Model.Weight
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Height">
                                                Height
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="height" name="height" class="form-control col-md-7 col-xs-12">@Model.Height</text>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="FatRatio">
                                                Fat Ratio
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="FatRatio" name="FatRatio" class="form-control col-md-7 col-xs-12">@Model.FatRatio</text>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">
                                                City
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text type="text" id="city" name="city" class="form-control col-md-7 col-xs-12">New York
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#EditGoalModal">Edit Goal</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="GoalWeight">
                                                Weight
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="weight" name="weight" class="form-control col-md-7 col-xs-12">@Model.GoalWeight
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="GoalFatRatio">
                                                Fat Ratio
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="fat-ratio" name="fat-ratio" class="form-control col-md-7 col-xs-12">@Model.GoalFatRatio</text>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="GoalDate">
                                                Goal Date <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <text id="goaldate" type='text' class="form-control">@Model.GoalDate</text>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab_content4" class="tab-pane fade">
                                    <div>
                                        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#AssignExerciseModal">Assign Exercise</button>
                                    </div>
                                    <!--start user current assigned exercises-->
                                    <h3>Active Exercises</h3>
                                    <table class="data table table-striped no-margin">
                                        <thead>
                                            <tr>
                                                <th>Gif/Image</th>
                                                <th>Exercise Name</th>
                                                <th>Exercise Category</th>
                                                <th class="hidden-phone">Sets</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Interval</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ex in Model.DailyRoutines)
                                            {
                                                if (ex.EndDate >= DateTime.Now.Date)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img border=3 height=100 width=100 src="@ex.Exercise.GifPicture">
                                                        </td>
                                                        <td>@ex.Exercise.Name</td>
                                                        <td>@ex.Exercise.Category</td>
                                                        <td>@ex.Sets</td>
                                                        <td>@ex.StartDate</td>
                                                        <td>@ex.EndDate</td>
                                                        <td>@ex.Interval</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <!--end user current assigned exercises-->
                                    <!--start user passed assigned exercises-->
                                    <h3>Passed Exercises</h3>
                                    <table class="data table table-striped no-margin">
                                        <thead>
                                            <tr>
                                                <th>Gif/Image</th>
                                                <th>Exercise Name</th>
                                                <th>Exercise Category</th>
                                                <th class="hidden-phone">Sets</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Interval</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ex in Model.DailyRoutines)
                                            {
                                                if (ex.EndDate < DateTime.Now.Date)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img border=3 height=100 width=100 src="@ex.Exercise.GifPicture">
                                                        </td>
                                                        <td>@ex.Exercise.Name</td>
                                                        <td>@ex.Exercise.Category</td>
                                                        <td>@ex.Sets</td>
                                                        <td>@ex.StartDate</td>
                                                        <td>@ex.EndDate</td>
                                                        <td>@ex.Interval</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <!--end user passed assigned exercises-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="EditGoalModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Goal</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="GoalWeight">
                                Weight
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" step="0.1" id="goalFatRatio" name="goalFatRatio" asp-for="GoalWeight" value="@Model.GoalWeight" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="GoalFatRatio">
                                Fat Ratio
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" step="0.01" id="goalFatRatio" name="goalFatRatio" asp-for="GoalFatRatio" value="@Model.GoalFatRatio" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="GoalDate">
                                Goal Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='myDatepicker2'>
                                    <input id="goaldate" type='text' class="form-control" asp-for="GoalDate" value="@Model.GoalDate" data-inputmask="'mask': '99.99.9999'" placeholder="DD.MM.YYYY" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger antoclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success antosubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="AssignExerciseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: relative;">
        <div class="modal-content" style="position: relative; overflow-y: auto; overflow-x: auto; width: 1000px; padding: 15px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Assign Exercise</h4>
            </div>
            <div class="modal-body" style="position: relative; overflow-y: auto; max-height: 400px; padding: 15px;">
                <div id="testmodal" style="padding: 5px 20px;">
                    <table class="data table table-striped no-margin">
                        <thead>
                            <tr>
                                <th>Gif/Image</th>
                                <th>Exercise Name</th>
                                <th>Exercise Category</th>
                                <th class="hidden-phone">Sets</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Interval</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ex in Model.Exercises)
                                {
                            <tr>
                                <td>
                                    <img border=3 height=100 width=100 src="@ex.GifPicture">
                                </td>
                                <td>@ex.Name</td>
                                <td>@ex.Category</td>
                                <td class="hidden-phone"><input type="number" min="0" max="100" name="sets" asp-for="ExSets" /></td>
                                <td>
                                    <input type="text" class="startdate" data-inputmask="'mask': '99/99/9999'" asp-for="ExStartDate" placeholder="DD/MM/YYYY">
                                </td>
                                <td>
                                    <input type="text" class="enddate" data-inputmask="'mask': '99/99/9999'" asp-for="ExEndDate" placeholder="DD/MM/YYYY">
                                </td>
                                <td><input type="number" min="0" max="30" asp-for="ExInterval" /></td>
                                <td><button class="btn btn-info">Assign</button></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger antoclose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="EditExerciseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Assigned Exercise</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="EditExName">
                                Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <text type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> @Model.EditExName</text>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="EditExCategory">
                                Category <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <text type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">@Model.EditExCategory</text>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="EditExSets">
                                Sets <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" min="0" max="100" id="exerciseSet" required="required" class="form-control col-md-7 col-xs-12" value="@Model.EditExSets">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="EditExInterval">
                                Interval <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="exerciseInterval" required="required" class="form-control col-md-7 col-xs-12" value="@Model.EditExInterval">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="EditExStartDate">
                                Start Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group startdate'>
                                    <input id="exerciseStartDate" type='text' class="form-control" value="@Model.EditExStartDate" data-inputmask="'mask': '99/99/9999'" placeholder="DD/MM/YYYY" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="EditExEndDate">
                                End Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group enddate'>
                                    <input id="exerciseEndDate" type='text' class="form-control" value="@Model.EditExEndDate" data-inputmask="'mask': '99/99/9999'" placeholder="DD/MM/YYYY" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger antoclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success antosubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->